<input id="hdId" type="hidden" value="<%= data.id %>">

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Product #<%= data.id %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row" style="margin-bottom: 40px;">
  <div class="col-lg-12">
    <div class="col-md-6 col-md-offset-3">      
      <div id="divModalError" class="form-group">
        <label id="lblModalError" for="object-name"></label>
      </div>

      <div class="form-group">
        <label>Category</label>
        <select id="ddlCategory" data-placeholder="Choose a category..." class="chosen-select" tabindex="2">
          <option value=""></option> 
          <% for(var i = 0; i < categories.length; i++) {%>
            <% if(data.category.id == categories[i].id) { %>
              <option selected value="<%= categories[i].id %>"><%= categories[i].name %></option>
            <% } else { %>
              <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
            <% } %>
          <% } %>                    
        </select>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="Name" maxlength="20" value="<%= data.name %>">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" id="txtPrice" placeholder="Price" maxlength="20" value="<%= data.price %>">
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" id="txtQuantity" placeholder="Quantity" maxlength="20" value="<%= data.quantity %>">
      </div>
      <div class="form-group">
        <label>Priority</label>
        <input type="text" class="form-control" id="txtPriority" placeholder="Priority" maxlength="20" value="<%= data.priority %>">
      </div>
      <div class="form-group">
          <label class="checkbox-inline">
            <% if(data.outOfStock == 0) { %>
              <input type="checkbox" id="chkOutOfStock">Out of stock
            <% } else { %>
              <input type="checkbox" id="chkOutOfStock" checked>Out of stock
            <% } %>
          </label>
      </div>
      <div class="form-group">
        <textarea id="txtDescription" style="width:100%" placeholder="Description"><%- data.description %></textarea>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-outline btn-warning cancel">Cancel</button>
        <button type="submit" id="btnUpdateProduct" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#modalCreateCategory">Update product</button>                    
      </div>
    </div>

  </div>
  <!-- /.col-lg-12 -->  
</div>

<div class="product-images-upload-zone">
  <form action="/file-upload" class="dropzone" id="dropzoneUploadProductImage"></form>
</div>

<!-- http://stackoverflow.com/questions/24009298/dropzone-js-display-existing-files-on-server -->
<!-- http://stackoverflow.com/questions/19375389/how-to-upload-and-delete-files-from-dropzone-js -->
<!-- http://www.jqueryajaxphp.com/upload-resize-image-dropzone-php/ -->

<script src="/admin/js/plugins/dropzone/dropzone.js"></script>

<script>
  Dropzone.options.dropzoneUploadProductImage = {
    init: function() {
      <% for(var i = 0; i < data.images.length; i++) {%>
        var mockFile = { name: '<%= data.images[i].id %>', size: 12345 };
        var thisDropzone = this;
        thisDropzone.options.addedfile.call(thisDropzone, mockFile);
        thisDropzone.options.thumbnail.call(thisDropzone, mockFile, '<%= data.images[i].url %>');
      <% } %>

      // Call API remove image when the removedfile event is triggered
      // this.on("removedfile", function(file) {
      //   $.post( "/product/<%= data.id %>/image/remove", {id: file.name})
      //   .done(function( result ) {
      //     $('#modalMessageBody').text(result.message);
      //     $('#modalMessage').modal();
      //   });
      // });  
    }, 
    paramName: "file", // The name that will be used to transfer the file
    url: "/product/<%= data.id %>/image",
    maxFilesize: 5, // MB,
    acceptedFiles: "image/*",
    thumbnailWidth: 150,
    thumbnailHeight: null,
    dictDefaultMessage: 'Drop files here or click to upload',
    dictFileTooBig: "Max file size is {{filesize}}MB",
    dictInvalidFileType: "Only image can be uploaded",
    addRemoveLinks: true,
    removedfile: function(file) { 
      $.post( "/product/<%= data.id %>/image/remove", {id: file.name})
      .done(function( result ) {
        $('#modalMessageBody').text(result.message);
        $('#modalMessage').modal();

        if(result.status == 1) {
          var _ref; // Remove file on clicking the 'Remove file' button
          return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        }
      });
    },
    accept: function(file, done) {
      done();
    }
  };
</script>