<section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
  <div class="product-view">    
    <div class="product-essential">
      <form id="product_addtocart_form">
        <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
        <div class="product-img-box col-lg-5 col-sm-6 col-md-4 col-xs-12 wow bounceInRight animated">
          <!-- <div class="new-label new-top-left"> New </div> -->
          <div class="product-image">
            <div class="large-image"> 
              <% if(data.images.length > 0) { %>
                <a href="<%= data.images[0].url %>" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> 
                  <img src="<%= data.images[0].url %>" alt=""> 
                </a>
              <% } %> 
            </div>
            <div class="flexslider flexslider-thumb">
              <ul class="previews-list slides">
                <% if(data.images.length > 0) { %>
                  <% _.each(data.images, function (obj) { %>
                  <li>
                    <a href='<%= obj.url %>' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '<%= obj.url %>' ">
                      <img src="<%= obj.url %>" alt = ""/>
                    </a>
                  </li>
                  <% }) %>
                <% } %>
              </ul>
            </div>
          </div>

          <!-- end: more-images -->

          <div class="clear"></div>
        </div>
        <div class="product-shop col-lg-7 col-sm-6 col-md-5 col-xs-12 bounceInUp animated">
          <div class="product-name">
            <h1 id="h1ProductName"><%= data.name %></h1>
          </div>
          <!-- <div class="ratings">
            <div class="rating-box">
              <div style="width:60%" class="rating"></div>
            </div>
            <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
          </div> -->
          <p class="availability in-stock"><span>In Stock</span></p>
          <div class="price-block">
            <div class="price-box">
              <!-- <p class="old-price"> <span class="price-label">Regular Price:</span> <span id="old-price-48" class="price"> $315.99 </span> </p> -->
              <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price"> <%= data.price %> SGD</span> </p>
            </div>
          </div>
          <div class="short-description">
            <h2>Quick Overview</h2>
            <p><%- data.description %></p>
          </div>
          <div class="add-to-box">
            <div class="add-to-cart">
              <label for="txtQty">Quantity:</label>
              <div class="pull-left">
                <div class="custom pull-left">
                  <button onClick="var result = document.getElementById('txtQty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>
                  <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="input-text qty" title="Qty" value="1" maxlength="4" id="txtQty" name="txtQty"></input>
                  <button onClick="var result = document.getElementById('txtQty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                </div>
              </div>
              <div class="">
                <button onClick="addCart(<%= JSON.stringify(data) %>, document.getElementById('txtQty').value)" class="button btn-cart" title="Add to Cart" type="button">
                  <span><i class="icon-basket"></i> Add to Cart</span>
                </button>
              </div>
            </div>
            <div class="email-addto-box">
              <ul class="add-to-links">
                <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                <li><span class="separator">|</span> <a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li>
              </ul>
              <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>