<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Vietnam-Singapore</title>

<!-- Favicons Icon -->
<link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS Style -->
<link rel="stylesheet" href="/css/animate.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/revslider.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
<link rel="stylesheet" href="/css/jquery.mobile-menu.css" type="text/css">
<link rel="stylesheet" href="/css/responsive.css" type="text/css">
<link rel="stylesheet" href="/css/app.css" type="text/css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900,800,300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="page"> 
    <!-- Header -->
    <header class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
              <div class="phone hidden-xs">
                <div class="phone-box"><strong>Call:</strong> <span>+1 800 123 1234</span></div>
              </div>
              <div class="welcome-msg hidden-xs"> Default welcome msg! </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
              <div class="top-cart-contain">
                <div class="mini-cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#"> <i class="icon-cart"></i>
                    <div class="cart-box"><span id="cart-total">2</span></div>
                  </a></div>
                  <div>
                    <div style="display: none;" class="top-cart-content arrow_box">
                      <div class="block-subtitle">Recently added item(s)</div>
                      <ul id="cart-sidebar" class="mini-products-list">
                        <li class="item even"> 
                          <a class="product-image" href="product_detail.html" title="Downloadable Product ">
                            <img alt="Downloadable Product " src="/images/product1.jpg" width="80">
                          </a>
                          <div class="detail-item">
                            <div class="product-details"> 
                              <a href="#" title="Remove This Item" onClick="" class="btn-remove1">Remove This Item</a> 
                              <a class="btn-edit" title="Edit item" href="#">Edit item</a>
                              <p class="product-name"> 
                                <a href="#" title="Sample Product">Sample Product</a> 
                              </p>
                            </div>
                            <div class="product-details-bottom"> 
                              <span class="price">$100.00</span> 
                              <span class="title-desc">Qty:</span> 
                              <strong>1</strong> 
                            </div>
                          </div>
                          <!--div class="edit-remove"></div--> 
                        </li>
                        <li class="item last odd"> 
                          <a class="product-image" href="product_detail.html" title=" Lucky Brand Janis ">
                            <img alt="Sample Product" src="/images/product1.jpg" width="80">
                          </a>
                          <div class="detail-item">
                            <div class="product-details"> 
                              <a href="#" title="Remove This Item" onClick="" class="btn-remove1">Remove This Item</a> 
                              <a class="btn-edit" title="Edit item" href="#">Edit item</a>
                              <p class="product-name"> 
                                <a href="#" title=" Lucky Brand Janis ">Sample Product</a> 
                              </p>
                            </div>
                            <div class="product-details-bottom"> 
                              <span class="price">$320.00</span> 
                              <span class="title-desc">Qty:</span> 
                              <strong>2</strong> 
                            </div>
                          </div>

                          <!--div class="edit-remove"></div--> 
                        </li>
                      </ul>
                      <div class="top-subtotal">Subtotal: <span class="price">$420.00</span></div>
                      <div class="actions">
                        <button class="btn-checkout" type="button"><span>Checkout</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                  <input value="" type="hidden">
                  <input id="enable_module" value="1" type="hidden">
                  <input class="effect_to_cart" value="1" type="hidden">
                  <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                </div>
              </div>
              <!-- Header Top Links -->
              <div class="toplinks">
                <div class="links">
                  <div class="login"><a title="Login" href="login.html"><span class="hidden-xs">Log In</span></a></div>
                  <div class="wishlist"><a title="My Wishlist"  href="wishlist.html"><span class="hidden-xs"><i class="icon-star">&nbsp;</i><span class="wishlist-items">0</span></span></a></div>
                </div>
              </div>
              <!-- End Header Top Links --> 
              <!-- Header Language -->
              <div class="dropdown block-language-wrapper"> 
                <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="/images/english.png" alt="language"> EN <span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="/images/english.png" alt="language"> English </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="/images/francais.png" alt="language"> French </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="/images/german.png" alt="language"> German </a></li>
                </ul>
              </div>

              <!-- End Header Language --> 
              <!-- Header Currency -->
              <div class="dropdown block-currency-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
                </ul>
              </div>

              <!-- End Header Currency -->
              <div class="collapse navbar-collapse">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="reset" class="btn btn-default"> <span class="glyphicon glyphicon-remove"> <span class="sr-only">Close</span> </span> </button>
                      <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
                    </span> </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header -->

      <!-- Navbar -->
      <nav>
        <div class="header container">
          <div class="row">
            <div class="col-xs-12">  <div class="mm-toggle-wrap">
              <div class="mm-toggle"> <i class="icon-align-justify"></i><span class="mm-label">Menu</span> </div>
            </div>
            <!-- Header Logo --> 
            <a class="logo" title="Vietnam - Singapore" href="/"><img alt="Vietnam - Singapore" src="/images/logo.png"></a> 
            <!-- End Header Logo -->

            <div class="nav-inner">
              <ul id="nav" class="">
                <li class="level0 parent drop-menu"><a href="index.html" ><span>Home</span> </a>
                  <ul class="level1" style="display: none;">
                    <li class="level1 first parent"><a href="../../full-width/red/index.html"><span>Full Width Layout</span></a> </li>
                    <li class="level1 parent"><a href="../../boxed/green/index.html"><span>Boxed Layout</span></a> </li>
                    <li class="level1 parent"><a href="../red/index.html"><span>Red</span></a> </li>
                    <li class="level1 parent"><a href="../blue/index.html"><span>Blue</span></a> </li>
                    <li class="level1 parent"><a href="../green/index.html"><span>Green</span></a> </li>
                    <li class="level1 parent"><a href="../lavender/index.html"><span>Lavender</span></a> </li>
                    <li class="level1 parent"><a href="../yellow/index.html"><span>Yellow</span></a> </li>
                  </ul>
                </li>
                <li class="level0 parent drop-menu"><a href="#"><span>Pages</span> </a>
                  <ul style="display: none;" class="level1">
                    <li class="level1 first"><a href="grid.html"> <span>Grid</span></a></li>
                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                    <li class="level1 first parent"><a href="checkout.html"> <span>Checkout</span></a>
                     <ul class="level2">
                      <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                      <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 nav-10-5"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                  <li class="level1 nav-10-6"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                  <li class="level1 nav-10-7"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                  <li class="level1 nav-10-8"> <a href="about_us.html"> <span>About Us</span> </a> </li>
                  <li class="level1 nav-10-9"> <a href="compare.html"> <span>Compare</span> </a> </li>
                  <li class="level1 nav-10-10"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                  <li class="level1 nav-10-11"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                  <li class="level1 nav-10-12"> <a href="quick_view.html"> <span>Quick View</span> </a> </li>
                  <li class="level1 nav-10-13"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                  <li class="level1 nav-10-14"> <a href="contact_us.html"> <span>Contact Us</span></a> </li>
                  <li class="level1 nav-10-15"><a href="sitemap.html"> <span>Sitemap</span></a> </li>
                  <li class="level1 first parent"><a href="blog.html"> <span>Blog</span></a>
                    <ul class="level2">
                      <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                    </ul>
                  </li>
                  
                  <li class="level1 nav-10-16"><a href="404error.html"> <span>404 Error Page</span></a> </li>
                </ul>
              </li>
              <li class="level0 nav-5 level-top first"> <a href="grid.html" class="level-top active"> <span>Women</span> </a>
                <div style="display: none; left: 0px;" class="level0-wrapper dropdown-6col">
                  <div class="level0-wrapper2">
                    <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                      <ul class="level0">
                        <li class="level1 nav-6-1 parent item"> <a href="#.html" class=""><span>Tops</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html" class=""><span>Evening Tops</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Shirts &amp; Blouses</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Tunics</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Vests</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <li class="level1 nav-6-1 parent item"> <a href="#/dresses.html" class=""><span>Dresses</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Casual Dresses</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Evening</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Designer</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Party</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <li class="level1 nav-6-1 parent item"> <a href="#/styliest-bag.html"><span>Styliest Bag</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Clutch Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Diaper Bags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Bags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Hobo Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/material-bag.html"><span>Material Bag</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Beaded Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Fabric Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Leather Handbags</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/shoes.html"><span>Shoes</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Flat Shoes</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Flat Sandals</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Boots</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Heels</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/jwellery.html"><span>Jwellery</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Bracelets</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Necklaces &amp; Pendants</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Pendants</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.htm"><span>Pins &amp; Brooches</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/swimwear.html"><span>Swimwear</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Swimsuits</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Beach Clothing</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Clothing</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Bikinis</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                      </ul>
                      <!--level0--> 
                    </div>
                    <div class="nav-block nav-block-right std grid12-4">
                      <div class="cat_pr_info">
                        <div class="cat_img"><img alt="Sample Product" src="/images/product1.jpg" width="175"></div>
                        <div class="products-info">
                          <div class="pr-title">Lorem Ipsum is simply dummy</div>
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                          </div>
                          <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
                          <div class="cat-bnt">
                            <button type="button" title="Add to Cart" class="button btn-cart"><span>BUY IT NOW</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="level0 nav-7 level-top parent"> <a href="#/electronics.html" class="level-top"> <span>Men</span> </a>
                <div style="display: none; left: 0px;" class="level0-wrapper dropdown-6col">
                  <div class="level0-wrapper2">
                    <div class="normal-text">
                      <div class="custom_link">
                        <div class="grid3"><a href="#">Custom link 1</a></div>
                        <div class="grid3"><a href="#">Custom link 2</a></div>
                        <div class="grid3"><a href="#">Custom link 3</a></div>
                        <div class="grid3"><a href="#">Custom link 4</a></div>
                      </div>
                      <div class="grid4 a-right"> <a href="#">Custom right link</a> </div>
                    </div>
                    <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                      <ul class="level0">
                        <li class="level1 nav-6-1 parent item">
                          <div class="cat-img"><a title="Magento Commerce" href="#"><img  alt="Sample Product" src="/images/megamenu-img.png"></a> </div>
                          <a href="#.html"><span>Shoes</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="#/sport-shoes.html"><span>Sport Shoes</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Casual Shoes</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Leather Shoes</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Canvas shoes</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item">
                          <div class="cat-img"><a title="Magento Commerce" href="#"><img  alt="Sample Product" src="/images/megamenu-img.png"></a></div>
                          <a href="#/dresses.html"><span>Dresses</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Casual Dresses</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Evening</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Designer</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Party</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item">
                          <div class="cat-img"><a title="Magento Commerce" href="#"><img  alt="Sample Product" src="/images/megamenu-img.png"></a></div>
                          <a href="#/sunglasses.html"><span>Sunglasses</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="#/sunglasses/ray-ban.html"><span>Ray Ban</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Fasttrack</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Police</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Oakley</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item">
                          <div class="cat-img"><a title="Magento Commerce" href="#"><img  alt="Sample Product" src="/images/megamenu-img.png"></a></div>
                          <a href="#/watches.html"><span>Watches</span></a> 
                          <!--sub sub category-->
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Fasttrack</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Casio</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.htmll"><span>Titan</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Tommy-Hilfiger</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          <!--sub sub category--> 
                        </li>
                        
                        <!--level1 nav-6-1 parent item-->
                      </ul>
                    </div>
                    <div class="nav-block nav-block-right std grid12-4">
                      <div class="cat_pr_info">
                        <div class="cat_img"><a title="Magento Commerce" href="#"><img alt="Sample Product" src="/images/product1.jpg" width="175"></a></div>
                        <div class="products-info">
                          <div class="pr-title">Lorem Ipsum is simply dummy</div>
                          <div class="price-box">
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                          </div>
                          <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
                          <div class="cat-bnt">
                            <button type="button" title="Add to Cart" class="button btn-cart"><span>BUY IT NOW</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="normal-text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique, est aliquet dictum feugiat, diam velit ullamcorper lorem, non condimentum nisi urna sit amet dolor. Integer,<br>
                      turpis eget blandit porttitor, sapien dolor pretium massa, sed sodales elit dolor eget nulla. Praesent commodo cursus justo, ut tempor ipsum suscipit eget. <a href="#">View all</a></div>
                    </div>
                  </div>
                </li>
                <li class="level0 parent drop-menu"><a href="#"><span>Boys</span> 
                  <!--<span class="category-label-hot">Hot</span> --> 
                </a>
                <ul style="display: none;" class="level1">
                  <li class="level1 first parent"><a href="#"><span>Kids Clothing</span></a>
                    <ul class="level2">
                      <li class="level2 first"><a href="#"><span>Dresses</span></a></li>
                      <li class="level2 nav-1-1-2"><a href="#"><span>Jumpsuits</span></a></li>
                      <li class="level2 nav-1-1-3"><a href="#"><span>Shirts &amp; Tops</span></a></li>
                      <li class="level2 nav-1-1-4"><a href="#"><span>Shorts &amp; Skirts</span></a></li>
                      <li class="level2 nav-1-1-5 last"><a href="#"><span>Sleepwear</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 first parent"><a href="#"><span>Boys Footwear</span></a>
                    <ul class="level2">
                      <li class="level2 nav-2-1-1 first"><a href="#"><span>Shirts</span></a></li>
                      <li class="level2 nav-2-1-2"><a href="#"><span>T-shirts</span></a></li>
                      <li class="level2 nav-2-1-3"><a href="#"><span>Suits</span></a></li>
                      <li class="level2 nav-2-1-4"><a href="#"><span>Blazers</span></a></li>
                      <li class="level2 nav-2-1-5 last"><a href="#"><span>Trousers</span></a></li>
                    </ul>
                  </li>
                  <li class="level1 parent"><a href="#"><span>Baby Care</span></a>
                    <ul class="level2">
                      <li class="level2 nav-2-1-1 first"><a href="#"><span>Shirts</span></a></li>
                      <li class="level2 nav-2-1-2"><a href="#"><span>T-shirts</span></a></li>
                      <li class="level2 nav-2-1-3"><a href="#"><span>Suits</span></a></li>
                      <li class="level2 nav-2-1-4"><a href="#"><span>Blazers</span></a></li>
                      <li class="level2 nav-2-1-5 last"><a href="#"><span>Trousers</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="level0 nav-6 level-top parent"> <a href="#/fashion.html" class="level-top"> <span>Electronics</span> </a>
                <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                  <div class="level0-wrapper2">
                    <div class="nav-block nav-block-center">
                      <ul class="level0">
                        <li class="level1 nav-6-1 parent item"> <a href="#.html" class=""><span>Mobiles</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Samsung</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Nokia</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>IPhone</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Sony</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#-accesories.html" class=""><span>Mobiles Accesories</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Mobile Memory Cards</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Cases &amp; Covers</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Mobile Headphones</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Bluetooth Headsets</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/cameras.html"><span>Cameras</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Camcorders</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Point &amp; Shoot</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Digital SLR</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Camera Accesories</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/audio-video.html"><span>Audio &amp; Video</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>MP3 Players</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>IPods</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Speakers</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Video Players</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <!--level1 nav-6-1 parent item-->
                        <li class="level1 nav-6-1 parent item"> <a href="#/computer.html"><span>Computer</span></a> 
                          <!--sub sub category-->
                          
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>External Hard Disk</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Pendrives</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Headphones</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>PC Components</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                          <!--level1--> 
                          
                          <!--sub sub category--> 
                          
                        </li>
                        <!--level1 nav-6-1 parent item--> 
                        <!--level1 nav-6-1 parent item-->
                        
                      </ul>
                      <!--level0--> 
                      
                    </div>
                  </div>
                </div>
              </li>
              <li class="level0 nav-7 level-top parent"> <a class="level-top" href="#/electronics.html"> <span>Furniture</span> </a>
                <div class="level0-wrapper dropdown-6col" style="left: 0pt; display: none;">
                  <div class="level0-wrapper2">
                    <div class="nav-block nav-block-center grid13-8 itemgrid itemgrid-4col">
                      <ul class="level0">
                        <li class="level1 nav-7-1 first parent item"> <a href="#/electronics/smartphones.html"> <span>Living Room</span> </a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Racks &amp; Cabinets</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Sofas</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Chairs</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Tables</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                        </li>
                        <li class="level1 nav-7-3 parent item"> <a href="#/electronics/cameras.html"> <span>Dining &amp; Bar</span> </a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Dining Table Sets</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Serving Trolleys</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Bar Counters</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Dining Cabinets</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                        </li>
                        <li class="level1 nav-7-4 parent item"> <a href="#/electronics/computers.html"> <span>Bedroom</span> </a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Beds</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Chest of Drawers</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Wardrobes &amp; Almirahs</span></a> </li>
                            <!--level2 nav-6-1-1-->
                            <li class="level2 nav-6-1-1"> <a href="product_detail.html"><span>Nightstands</span></a> </li>
                            <!--level2 nav-6-1-1-->
                          </ul>
                        </li>
                      </ul>
                      <div class="fur-des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa.</p>
                      </div>
                    </div>
                    <div class="nav-block nav-block-right std grid12-4"><a href="#/electronics/phone-accessories.html"><img src="/images/nav-img.jpg" class="fade-on-hover" alt=""></a>
                      <h3 class="heading">Responsive Magento Theme</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a title="Shop collection now" href="#" class="btn-button-st">Shop collection now</a> </div>
                    </div>
                  </div>
                </li>
                <li class="nav-custom-link level0 level-top parent"> <a class="level-top" href="#"><span>Custom</span></a>
                  <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
                    <div class="normal-text">
                      <div class="custom_link">
                        <div class="grid3"><a href="#">OUR RECOMMENDATIONS</a></div>
                      </div>
                      <div class="grid4 a-right"> <a href="#electronics.html" style="color: #cd2122; font-style: italic;">SEE MORE</a> </div>
                    </div>
                    <div class="header-nav-dropdown-wrapper clearer">
                      <div class="nav-block nav-block-right grid12-5">
                        <div class="cat_pr_info">
                          <div class="cat_img"><img alt="Sample Product" src="/images/menu-product.png"></div>
                          <div class="products-info">
                            <div class="pr-title">vel illum qui dolorem eum fugiat</div>
                            <div class="price-box">
                              <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
                              <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                            </div>
                            <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
                            <div class="cat-bnt">
                              <button type="button" title="Add to Cart" class="button btn-cart"><span>BUY IT NOW</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="nav-block nav-block-right grid12-5">
                        <div class="cat_pr_info">
                          <div class="cat_img"><img alt="Sample Product" src="/images/menu-product.png"></div>
                          <div class="products-info">
                            <div class="pr-title">dignissimos ducimus qui blanditiis</div>
                            <div class="price-box">
                              <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $99.00 </span> </p>
                            </div>
                            <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
                            <div class="cat-bnt">
                              <button type="button" title="Add to Cart" class="button btn-cart"><span>BUY IT NOW</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="nav-block nav-block-right grid12-5 last">
                        <div class="cat_pr_info">
                          <div class="cat_img"><img alt="Sample Product" src="/images/menu-product.png"></div>
                          <div class="products-info">
                            <div class="pr-title">Custom Dress Shirts 2015</div>
                            <div class="price-box">
                              <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $480.00 </span> </p>
                            </div>
                            <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
                            <div class="cat-bnt">
                              <button type="button" title="Add to Cart" class="button btn-cart"><span>BUY IT NOW</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end nav --> 

    <!-- Two columns content -->
    <section class="main-container col2-left-layout">    
      <div class="main container">
        <div class="row">

          <%- body %>        

          <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
            <div class="side-nav-categories">
              <div class="block-title"> Categories </div>
              <!--block-title--> 
              <!-- BEGIN BOX-CATEGORY -->
              <div class="box-content box-category">
                <ul>
                  <% for(var i = 0; i < categories.length; i++) {%>
                  <% if (i == categories.length-1) { %>
                  <li class="last"> 
                    <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a> 
                  </li>
                  <% } else { %>
                  <li>
                    <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
                  </li>
                  <% } %>
                  <% } %>
                </ul>
              </div>
              <!--box-content box-category--> 
            </div>

          </aside>
        </div>
      </div>
    </section>
    <!-- End Two columns content --> 
    <!-- Footer -->    
    <footer class="footer bounceInUp animated">   
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2015 Magikcommerce. All Rights Reserved.</div>
            <div class="col-sm-7 col-xs-12 company-links">
              <ul class="links">
                <li><a href="#" title="Magento Themes">Magento Themes</a></li>
                <li><a href="#" title="Premium Themes">Premium Themes</a></li>
                <li><a href="#" title="Responsive Themes">Responsive Themes</a></li>
                <li class="last"><a href="#" title="Magento Extensions">Magento Extensions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --> 
  </div>
  <div id="mobile-menu">
    <ul>
      <li>
        <div class="mm-search">
          <form id="search" name="search">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
              </div>
              <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
            </div>
          </form>
        </div>
      </li>
      <li>
        <div class="home"> <a href="/"><i class="icon-home"></i>Home</a> </div>
      </li>
      <li>
        <% for(var i = 0; i < categories.length; i++) {%>
        <% if (i == categories.length-1) { %>
        <li class="last"> 
          <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a> 
        </li>
        <% } else { %>
        <li>
          <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
        </li>
        <% } %>
        <% } %>
      </li>
    </ul>
  </div>

  <!-- Modal cart -->
  <div class="modal fade" id="modalCart" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Item added to your cart</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button class="button btn-cart view-cart" type="button" data-dismiss="modal"><span>Continue shopping</span></button>
          <button class="button btn-cart btn-checkout" type="button" data-dismiss="modal"><span>Checkout</span></button>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript --> 
  <script type="text/javascript" src="/js/jquery.min.js"></script> 
  <script type="text/javascript" src="/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/js/parallax.js"></script> 
  <script type="text/javascript" src="/js/common.js"></script> 
  <script type="text/javascript" src="/js/revslider.js"></script> 
  <script type="text/javascript" src="/js/jquery.mobile-menu.min.js"></script> 
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/jquery.flexslider.js"></script>  
  <script type="text/javascript" src="/js/cloud-zoom.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>