<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Vietnam-Singapore</title>

<!-- Favicons Icon -->
<link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS Style -->
<link rel="stylesheet" href="/css/animate.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/revslider.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
<link rel="stylesheet" href="/css/jquery.mobile-menu.css" type="text/css">
<link rel="stylesheet" href="/css/responsive.css" type="text/css">
<link rel="stylesheet" href="/css/app.css" type="text/css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900,800,300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="page"> 
    <!-- Header -->
    <header class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
              <div class="phone hidden-xs">
                <div class="phone-box"><strong>Call:</strong> <span>+1 800 123 1234</span></div>
              </div>
              <div class="welcome-msg hidden-xs"> Default welcome msg! </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
              <div class="top-cart-contain">
                <div class="mini-cart">
                  <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> 
                    <a href="#"> <i class="icon-cart"></i>
                      <div class="cart-box"><span id="cart-total">0</span></div>
                    </a>
                  </div>
                  <div>
                    <div style="display: none;" class="top-cart-content arrow_box">
                      <div class="block-subtitle">Recently added item(s)</div>
                      <ul id="cart-sidebar" class="mini-products-list">

                      </ul>
                      <div class="top-subtotal">Total: <span class="price" id="total"></span></div>
                      <div class="actions">
                        <button class="btn-checkout" type="button"><span>Checkout</span></button>
                        <button class="view-cart" type="button"><span>View Cart</span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                  <input value="" type="hidden">
                  <input id="enable_module" value="1" type="hidden">
                  <input class="effect_to_cart" value="1" type="hidden">
                  <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                </div>
              </div>
              <!-- Header Top Links -->
              <div class="toplinks">
                <div class="links">
                  <div class="login">
                    <a title="Login" href="login.html"><span class="hidden-xs">Log In</span></a>
                  </div>
                  <div class="wishlist">
                    <a title="My Wishlist"  href="wishlist.html">
                      <span class="hidden-xs">
                        <i class="icon-star">&nbsp;</i>
                        <span class="wishlist-items">0</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Header Top Links --> 
              <!-- Header Language -->
              <div class="dropdown block-language-wrapper"> 
                <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> 
                  <img src="/images/english.png" alt="language"> EN <span class="caret"></span> 
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#"><img src="/images/english.png" alt="language"> English 
                    </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#"><img src="/images/francais.png" alt="language"> French 
                    </a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                      <img src="/images/german.png" alt="language"> German 
                    </a>
                  </li>
                </ul>
              </div>

              <!-- End Header Language --> 
              <!-- Header Currency -->
              <div class="dropdown block-currency-wrapper"> 
                <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
                </ul>
              </div>

              <!-- End Header Currency -->
              <div class="collapse navbar-collapse">
                <form class="navbar-form" role="search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="reset" class="btn btn-default"> 
                        <span class="glyphicon glyphicon-remove"> 
                          <span class="sr-only">Close</span> 
                        </span> 
                      </button>
                      <button type="submit" class="btn btn-default"> 
                        <span class="glyphicon glyphicon-search"> 
                          <span class="sr-only">Search</span> 
                        </span> 
                      </button>
                    </span> 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- Navbar -->
    <nav>
      <div class="header container">
        <div class="row">
          <div class="col-xs-12">  
            <div class="mm-toggle-wrap">
              <div class="mm-toggle"> 
                <i class="icon-align-justify"></i>
                <span class="mm-label">Menu</span> 
              </div>
            </div>
            <!-- Header Logo --> 
            <a class="logo" title="Vietnam - Singapore" href="/">
              <img alt="Vietnam - Singapore" src="/images/logo.png">
            </a> 
            <!-- End Header Logo -->

            <div class="nav-inner">
              <ul id="nav" class="">
                <li class="nav-custom-link level0 level-top parent active">
                  <a href="/">Home</a>
                </li>
                <li class="nav-custom-link level0 level-top parent">
                  <a href="/about">About</a>
                </li>
                <li class="nav-custom-link level0 level-top parent">
                  <a href="/tracking">Tracking</a>
                </li>
                <li class="nav-custom-link level0 level-top parent">
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- end nav --> 

    <!-- Two columns content -->
    <section class="main-container col2-left-layout">    
      <div class="main container">
        <div class="row">

          <input type="hidden" id="hdIP" value="<%= ip %>">
          <%- body %>        

          <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
            <div id="side-nav-categories" class="side-nav-categories">
              <div class="block-title"> Categories </div>
              <!--block-title--> 
              <!-- BEGIN BOX-CATEGORY -->
              <div class="box-content box-category">
                <ul>
                  <% for(var i = 0; i < categories.length; i++) {%>
                  <% if (i == categories.length-1) { %>
                  <li class="last"> 
                    <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a> 
                  </li>
                  <% } else { %>
                  <li>
                    <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
                  </li>
                  <% } %>
                  <% } %>
                </ul>
              </div>
              <!--box-content box-category--> 
            </div>

          </aside>
        </div>
      </div>
    </section>
    <!-- End Two columns content --> 
    <!-- Footer -->    
    <footer class="footer bounceInUp animated">   
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2015 Magikcommerce. All Rights Reserved.</div>
            <div class="col-sm-7 col-xs-12 company-links">
              <ul class="links">
                <li><a href="#" title="Magento Themes">Magento Themes</a></li>
                <li><a href="#" title="Premium Themes">Premium Themes</a></li>
                <li><a href="#" title="Responsive Themes">Responsive Themes</a></li>
                <li class="last"><a href="#" title="Magento Extensions">Magento Extensions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer --> 
  </div>
  <div id="mobile-menu">
    <ul>
      <li>
        <div class="mm-search">
          <form id="search" name="search">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
              </div>
              <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
            </div>
          </form>
        </div>
      </li>
      <li>
        <div class="home"> <a href="/"><i class="icon-home"></i>Home</a> </div>
      </li>
      <li>
        <% for(var i = 0; i < categories.length; i++) {%>
        <% if (i == categories.length-1) { %>
        <li class="last"> 
          <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a> 
        </li>
        <% } else { %>
        <li>
          <a href="/category/<%= categories[i].id %>"><%= categories[i].name %></a>
        </li>
        <% } %>
        <% } %>
      </li>
    </ul>
  </div>

  <!-- Modal cart -->
  <div class="modal fade" id="modalCart" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">ITEM ADDED TO YOUR CART</h4>
        </div>
        <div class="modal-body">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th id="modalCartPreviewTh">Preview</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody id="modalCartBody"></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button class="button btn-cart btn-continue" type="button" data-dismiss="modal">
            <span>CONTINUE SHOPPING</span>
          </button>
          <button class="button btn-cart view-cart" type="button" data-dismiss="modal">
            <span>VIEW CART</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal cart -->
  <div class="modal fade" id="modalMessage" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">MESSAGE FROM VN-SG.COM</h4>
        </div>
        <div class="modal-body" id="modalMessageBody">

        </div>
        <div id="modalMessageFooter" class="modal-footer">
          <button class="button btn-cart" style="display: none;" id="btnOk" type="button" data-dismiss="modal"><span>OK</span></button>
          <button class="button btn-cart" id="btnCancel" type="button" data-dismiss="modal"><span>Cancel</span></button>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript --> 
  <script src="/js/jquery.min.js"></script> 
  <script src="/js/bootstrap.min.js"></script> 
  <script src="/js/parallax.js"></script> 
  <script src="/js/common.js"></script> 
  <script src="/js/revslider.js"></script> 
  <script src="/js/jquery.mobile-menu.min.js"></script> 
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.flexslider.js"></script>  
  <script src="/js/cloud-zoom.js"></script>
  <script src="/js/app.js"></script>

  <!-- start Mixpanel -->
  <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("<%= sails.config.myconfig.mixpanel %>");
  </script><!-- end Mixpanel -->
</body>
</html>